body {
    margin: 0;
    overflow-x: hidden;
    background-color: #fafafa;
}

* {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
